.content-wrapper {
  max-width: 479px;
  .body1 {
    margin: 20px 0 30px;
    white-space: pre-line;
  }
  .btn-primary {
    padding: 17px 25px;
    text-align: center;
    @include mq("phone", max) {
      display: block;
    }
  }
  &.interaction {
    max-width: 474px;
    @include mq("tablet", max) {
      max-width: 452px;
      margin-left: auto;
      margin-left: auto;
      padding-top: 50px;
      .btn-primary {
        display: block;
      }
    }
    @include mq("phone", max) {
      padding-top: 30px;
    }
  }
  &.world {
    max-width: 504px;
    @include mq("tablet", max) {
      max-width: 100%;
    }
  }
}
