.content-wrapper {
  max-width: 479px;
  .body1 {
    margin: 20px 0 30px;
    white-space: pre-line;
  }
  .btn-primary {
    padding: 17px 25px;
    text-align: center;
    @include mq("phone", max) {
      display: block;
    }
  }
  &.interact {
    width: 474px;
    flex-shrink: 0;
    @include mq("laptop", max) {
      width: 452px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 50px;
      .btn-primary {
        display: block;
      }
    }
    @include mq("phone", max) {
      width: 100%;
      padding-top: 30px;
    }
  }
  &.world {
    max-width: 504px;
    @include mq("tablet", max) {
      max-width: 100%;
    }
  }
}
