.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.iconCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 10px 20px 16px;
  .icon {
    margin-right: 8px;
  }
  .finaceinfo {
    width: 118px;
    margin-right: 10px;
    .title {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
    .price {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
  }
  .percent {
    .percent-value {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      margin-left: 2px;
    }
  }
}
